:root {
  --clr-primary-100: #F8F0DF;
  --clr-primary-200: #F2EDD7;
  --clr-primary-400: #79B4B7;
  --clr-primary-800: #9D9D9D;
}


button {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

* {
  margin: auto;
  text-align: center;
  font-family: 'Noticia Text', serif;

}

.greeting {
  font-family: 'Noticia Text', serif;
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-400);
  padding: 5%;
}

.greeting > button {
  position: absolute;
  top: 0;
  right: 0;
  
}

.greeting .title-container > h1 {
  font-weight: 700;
  font-size: 70px;
  padding-bottom: 2rem;
}


.description {
  color: var(--clr-primary-100);
  vertical-align: middle;
  height: 100;
}

.description > h1 {
  font-size: 30px;
}

.description > h2 {
  font-size: 20px;
}

.screenshot {
  width: 50%;
  border-radius: 10%;
  border-width: 2.5rem;
  border-color: var(--clr-primary-800);
}

.profile {
  background-color: var(--clr-primary-200);
  padding: 2.5%;
  color: var(--clr-primary-800);
}

.subscribe-text {
  padding-top: 0%;
}