:root {
  --clr-primary-100: #F8F0DF;
  --clr-primary-200: #F2EDD7;
  --clr-primary-400: #79B4B7;
  --clr-primary-500: #87AAAA;
  --clr-primary-800: #9D9D9D;
  --clr-primary-600: #F6EABE;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;

}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}


body {
  font-weight: 400;
  font-size: 1.3125rem;
}

header,
section {
  padding: 3rem 0;
}


header {
  font-family: 'Outfit', sans-serif;
}

header h1 {
  color: #F7D08A;
  font-weight: bolder;
  font-size: 50px;
}

header p {
  font-size: 30px;
}

.bg-dark-green {
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-400);
}

.bg-light-yellow {
  /* color: var(--clr-primary-800); */
  color: #86340A;
  background-color: var(--clr-primary-200);
}

.bg-dark-yellow {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-800);
}

.subscription-section {
  font-family: 'Outfit', sans-serif;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.login-btn,
.logout-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.navbar {
  padding: 0;
}

header img {
  display: block;
  max-width: 100%;
  border-width: thick;
  border-style: solid;
  border-radius: 10%;
}

.split {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.split > *:nth-child(1){
  flex: 1 1 60%
}

.split > *:nth-child(2){
  flex: 1 1 40%;
}


@media (min-width: 40em) {
  .split {
    display: flex;
    flex-direction: row;
  }
}

.split-even {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (min-width: 40em) {
  .split-even {
    display: flex;
    flex-direction: row;
  }
}

.step-container {
  padding: 0 1rem;
  border-style: solid;
  border-color: #FFD371;
  border-radius: 5%;
  margin-inline: 1rem;
}

.step-container img {
  display: block;
  max-width: 100%;
  width: 500px;
  padding-bottom: 1rem;
}

.step-container h3 {
  padding-top: 1em;
  padding-bottom: 0;
}